{% extends '!layout.html' %}

{% block footer %}
  <script>
    render_on_display();
    radiko_footer();
  </script>
  <footer> <object id='radiko-logo-footer' type="image/svg+xml" data="_static/radiko_logo.svg" ></object> </footer>
{% endblock %}
